<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Magalu Finder</title>

	<link rel="stylesheet" type="text/css" href="proa.css">	
	<link rel="stylesheet" type="text/css" href="estilos.css">
</head>

<body>
	<div class="strips">
    <span class="strips__strip -yellow"></span>
    <span class="strips__strip -orange"></span>
    <span class="strips__strip -red"></span>
    <span class="strips__strip -pink"></span>
    <span class="strips__strip -purple"></span>
    <span class="strips__strip -purple-dark"></span>
    <span class="strips__strip -blue"></span>
    <span class="strips__strip -cyan"></span>
    <span class="strips__strip -green-light"></span>
    <span class="strips__strip -green"></span>
</div>

<nav class="navbar -header">
    <div class="container">
        <!--<a href="#" class="navbar__brand">
            <img src="../imagens/logo-admin-ml.png" alt="Magazine Luiza | MagaluFinder" class="navbar__brand__logo">
        </a> -->
        <ul class="navbar__nav">
            <li class="navbar__nav__item">
                <a href="#" title="" class="navbar__nav__link -active">Home</a>
            </li>
            <li class="navbar__nav__item">
                <a href="#" title="" class="navbar__nav__link">Catálogo de Produtos</a>
            </li>
            <li class="dropdown -navbar-nav">
                <a href="#dropdown-1" class="dropdown__link">Cadastros</a>
                <ul id="dropdown-1" class="dropdown__menu">
                    <li class="dropdown__item">
                        <a href="#" title="" class="dropdown__link">Usuários</a>
                    </li>
                    <li class="dropdown__item">
                        <a href="#" title="" class="dropdown__link">Lojas</a>
                    </li>
                     <li class="dropdown__item">
                        <a href="#" title="" class="dropdown__link">Produtos</a>
                    </li>
                </ul>
            </li>
        </ul>

        <ul class="navbar__nav -right">
            <li class="dropdown -navbar-nav -arrow -right">
                <a href="#dropdown-2" class="dropdown__link">Olá, Visitante</a>
                <ul id="dropdown-2" class="dropdown__menu -right">
                    <li>
                        <a href="login.html" title="" class="dropdown__link">Sair</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</nav>

</body>
</html>

